$purple: #781edc;
$purpleGradient: linear-gradient(to bottom, $purple 65%, #000 100%);
$black: #0e0e0e;
$duration: 3s;
$text-color: rgba(255, 255, 255, 0.3);
$bgr-color: #000;

$white: #fff;
$tablet: 767px;
$mobile: 480px;
