
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  

  body {
    
    background-image: url(@/assets/images/BG_body.webp);
    background-color: #0E0E0E;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Rajdhani";
    
  
  }
  
  h1, h2, h3, h4 {
    font-family: "oswald", Sans-serif;
  }
    
  main {
    max-width: 1140px;
    margin: 0 auto;
  }


p {
  font-family: "Rajdhani";
  font-size: 16px;
}

span {
  font-size: 15px;
}
  h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }

  /*mobile responsvie*/
  @media (max-width: $mobile) {
    main {
      max-width: 430px;
      padding-left: 2%;
      padding-right: 2%;
      
    }
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 23px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
  }