@font-face {
    font-family: 'oswald';
    src: url('@/assets/fonts/Oswald-VariableFont_wght.ttf')
    format('truetype');;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('@/assets/fonts/Rajdhani-Regular.ttf')
    format('truetype');;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Regular.ttf')
    format('truetype');;
}